/* COLOURS */
 
/* &lt;h1&gt start
&lt;/h1&gt end */

AUSSIE PALET
#f6e58d beekeeper
#ffbe76 spiced nectarine
#ff7979 pink glamour
#badc58 june bird
#dff9fb coastal breeze
#f9ca24 turbo 
#f0932b quince jelly
#eb4d4b carmine pink
#6ab04c pure apple
#c7ecee hint of ice pack
#7ed6df middle blue 
#e056fd heliotrope
#686de0 exodux fruit
#30336b deep koamaru
#95afc0 soaring eagle
#22a6b3 greenland green
#be2edd steelpink 
#4834d4 blurple
#130f40 deep cove 
#535c68 wizard grey

MANOKAI
#272822,
#F92672,
#66D9EF,
#A6E22E,
#FD971F,
#272822,
#F92672,
#66D9EF
/* COLOURS */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    background-color: rgb(255, 255, 255);
    color: #A6E22E;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* RESUEABLE */



section {
    padding: 2rem 0 2rem 0;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #A6E22E
}

h2 {
    font-size: 4rem;
    color: #A6E22E;
}

h3 {
    font-size: 3rem;
    color: #A6E22E;
}

p {
    font-size: 2rem;
}

/* HERO COVER */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.788)),  url("blake-connally-435076-unsplash.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    
}

.nav-flex {
    display: flex;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.main-nav li {
    margin: 1rem 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
}


.logo {
    height: 4rem;
    width: auto;
    margin: 1rem 1rem;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ABOUT ME */

.about-me {
    background-color: #272822;
    
    color: #fff;
    height: 100vh;
}

.markup {
    color: #F92672;
    font-size: 2rem;
    font-weight: 300;
}


/* PORTFOLIO */

.portfolio-flex {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.portfolio-flex img {
    width: 100%;
    margin: 0;
}

/* Resources */

.resources-flex {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.resources-flex img {
    width: 100%;
    margin: 0;
}