

MANOKAI
#272822,
#F92672,
#66D9EF,
#A6E22E,
#FD971F,
#272822,
#F92672,
#66D9EF

/* COLOURS */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    background-color: rgb(255, 255, 255);
    color: #A6E22E;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* RESUEABLE */

section {
    padding: 5rem 0 5rem 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #A6E22E
}

h2 {
    font-size: 4rem;
    color: #A6E22E;
}

h3 {
    font-size: 3rem;
    color: #A6E22E;
}

p {
    font-size: 2rem;
}

li {
    list-style: none;
}

a:link,
a:visited {
    color: #A6E22E;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #A6E22E;
    -webkit-transition: border-bottom 1s, color 1s;
    transition: border-bottom 1s, color 1s;
    }

a:hover,
a:active {
    color: #A6E22E;
    border-bottom: 1px solid transparent;
}

/* HERO COVER */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.708)), to(rgba(0, 0, 0, 0.800))),  url("blake-connally-435076-unsplash-min10.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.708), rgba(0, 0, 0, 0.800)),  url("blake-connally-435076-unsplash-min10.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    
}

.nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.main-nav li {
    margin: 1rem 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.logo {
    height: 6rem;
    width: auto;
    margin: 1rem 1rem;
    opacity: 0.8;  
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* ABOUT ME */

.about-me {
    background-color: #272822;
    color: #fff;
    height: auto;
    padding-bottom: 10rem;
}

.markup {
    color: #F92672;
    font-size: 2rem;
    font-weight: 400; 
}


/* PORTFOLIO */

.Portfolio, .resources {
    background-color: #898d78;
}

.portfolio-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 5rem;
}

.portfolio-flex a {
    border-bottom: none;
}

.portfolio-flex img {
    width: 95%;
}

.portfolio-flex img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

/* Resources */

.resources-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 5rem;
}

.resources-flex img {
    width: 95%;
}

.resources-flex img:hover {
    width: 95%;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.resources-flex a {
    border-bottom: none;
}

/* Contact Form */

.contact {
    background: #272822;
}

.contact-headings {
    text-align: center;
}

.contact-form {
    width: 50rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.contact-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
 
.contact-input > input, textarea {
    font-size: 1.5rem;
    margin: .1rem;
    height: 3rem;   
    background-color: #111111;;
    color: #fff;
    border: none;
}

.submit {
    width: 10rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

textarea {
    height: 14rem;
    font-size: 2rem;
    background-color: #111111;
}

::-webkit-input-placeholder {
    color: #fff;
    padding-left: 1rem;
}

/* FOOTER */

.logo-background-home {
    position: absolute;
    top: -3rem;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.logo-background-home a {
    border-bottom: none;
}

.logo-background-home :hover {
    color: #F92672;
}

footer {
    background-color: #020202;
    padding-bottom: 2rem;
    position: relative;
}

ion-icon {
    font-size: 3rem;
    padding: 1rem;
    color: white;
}

.footer-icons {
    
    padding-top: 4rem;
}

.footer-icons-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.footer-icons-flex a {
    border-bottom: none;
}

.logo-background-arrow {
    color: grey;
    font-size: 4rem;
    opacity: 1;
}

.logo-background-html5, 
.logo-background-css3,
.logo-background-js,
.logo-background-github,
.logo-background-linkedin {
    background-color: grey;
}

.logo-background-html5 :hover, 
.logo-background-css3 :hover, 
.logo-background-github :hover,
.logo-background-js :hover,
.logo-background-linkedin :hover {
    background-color: #F92672;
}

.created-by {
    text-align: center;
}

/* ANIMATIONS */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10 {
    opacity: 0;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated,
.js--wp-10.animated  {
    opacity: 1;
} 